.page-header__menu {
  opacity: 0;
  transition: opacity 0.1s ease-out 0.39s;

  a {

    &::after {
      display: block;
      width: 0%;
      transition: width 0.3s ease;
      background-color: $c-light;
      right: 0;
      left: auto;
    }

    &:hover::after {
      width: 100%;
      background-color: $c-purple;
      right: auto;
      left: 0;
    }
  }
}

.page-header__menu {
  a {
    &.active {
      color: $c-light;

      &::after {
        background-color: transparent;
        width: 0%;
        transition: 0.14s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
        right: 0;
        left: auto;
      }

      &:hover::after {
        background-color: transparent;
        width: 0%;
      }
    }
  }
}

.social-block__list {
  opacity: 1;

  li {
    opacity: 0;
  }
}

.social-block--active {
  .social-block__list {
    li {
      opacity: 1;

      &:first-of-type {
        transition: opacity 0.05s;
      }

      &:nth-of-type(2) {
        transition: opacity 0.25s;
      }

      &:last-of-type {
        transition: opacity 0.45s;
      }
    }

  }

}

.form {
  justify-content: flex-end;
}

.form__button {
  flex-grow: 0;
}

.screen {

  &.screen--story {
    .slider__item {
      &:nth-child(odd) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(60px);
          transition: 0.2s cubic-bezier(0.11, 0, 0.5, 0) 0.4s;
        }

      }

      &:nth-child(even) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(50px);
          transition: 0.4s cubic-bezier(0.11, 0, 0.5, 0) 0.5s;
        }

      }

      &.swiper-slide-active,
      &.swiper-slide-next {
        .slider__item-text {
          opacity: 1;
          transform: translateX(0px);
        }

      }
    }
  }

  .intro__message {
    opacity: 0;
    transition: 0.4s ease-in 0.5s;
  }

  .form__field {
    width: 0;
    padding: 0;
    transition: 0.35s ease-out;
  }

  &.screen--hidden {

    .intro__message {
      transform: translateY(-20px);
      opacity: 0;
    }

  }

  &.active {
    .intro__message {
      transform: translateY(-20px);
      opacity: 1;
    }

    .form__field {
      width: calc(100% - 21rem);
      padding: 0 5.6rem;
      transition: 0.25s ease-out;
    }
  }
}

.screen__footer {
  transform: translateY(100%);
  transition: transform 0.45s cubic-bezier(.22, .63, .4, 1.01);
}

.page-header__logo {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.1s cubic-bezier(.22, .63, .4, 1.01) 0.3s, transform 0.2s cubic-bezier(.22, .63, .4, 1.01) 0.4s;
}

.page-header__social {
  opacity: 0;
  transition: opacity 0.22s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
}

.social-block__toggler {
  color: $c-purple;
  transform: scale(1.2);
  transition: opacity 0.2s cubic-bezier(.22, .63, .4, 1.01) 0.48s, transform 0.12s cubic-bezier(.22, .63, .4, 1.01) 0.58s;

  &::before {
    background-color: transparent;
    border-color: transparent;
    transition: 0.18s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
  }

}



.loaded {

  .page-header__logo,
  .page-header__nav {
    opacity: 1;
    transform: translateX(0);
  }

  .screen__footer {
    transform: translateY(0);
  }

  .page-header__menu,
  .page-header__social {
    opacity: 1;
  }

  .social-block__toggler {
    color: $c-dark;
    transform: scale(1);

    &::before {
      background-color: $c-light;
      border-color: $c-light;
      transition: 0.3s ease;
    }

    &:hover {
      color: $c-dark;

      &::before {
        border-width: 4px;
        background-color: $c-light;

      }
    }

  }

  .social-block--active {
    .social-block__toggler {
      color: $c-light;

      &::before {
        background-color: $c-purple;
        border-width: 2px;
        border-color: $c-purple;
      }

      &:hover {
        color: $c-purple;

        &::before {
          border-width: 4px;
          background-color: $c-light;
          border-color: $c-light;
        }
      }
    }
  }

  .page-header__menu {
    a {
      &.active {
        color: $c-light;

        &::after {
          background-color: $c-light;
          width: 100%;
          left: 0;
          right: auto;
        }

        &:hover::after {
          background-color: $c-light;
          width: 100%;
        }
      }
    }
  }

}

.story_to_prize {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  height: 0%;
  background-color: $c-dark;
  transition: 0.6s ease;
  z-index: -1;
}

.before-prizes {
  z-index: 1;
  position: relative;

  .story_to_prize {
    height: 100%;
    z-index: 100;
  }
}

@keyframes befores_move {

  from {
    height: 0;
    width: 0;
    color: $c-purple;
    font-size: 0rem;
    line-height: 0rem;

  }


}

.rules__item {
  will-change: transform;
}

.rules__item::before {
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation-name: befores_move;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(.34, 1.84, .82, .93);
  animation-fill-mode: backwards;

}


.rules__item p {
  animation-name: li_move;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;

}

@for $i from 1 through 6 {

  .rules__item:nth-child(#{$i})::before {
    animation-delay: (0.25s * $i);
  }

  .rules__item:nth-child(#{$i}) p {
    animation-delay: (0.35s * $i);
  }

}

.rules__link {
  animation-name: rules__link_move, li_text_change-color;
  animation-duration: 0.3s, 0.1s;
  animation-delay: 1.7s, 2s;
  animation-timing-function: ease, ease;
  animation-fill-mode: backwards, backwards;
}

@keyframes rules__link_move {
  from {
    opacity: 0;
    width: 0;
  }

  1% {
    opacity: 1;

  }

  to {

    width: 150px;
  }

}

@keyframes li_text_change-color {
  from {
    color: transparent;
  }

  to {
    color: $c-purple;
  }
}

@keyframes li_move {
  from {
    transform: translateX(35px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
