.screen {
  max-height: 100vh;
}

.page-header__menu {
  opacity: 0;
  transition: opacity 0.1s ease-out 0.39s;

  a {

    &::after {
      display: block;
      width: 0%;
      transition: width 0.3s ease;
      background-color: $c-light;
      right: 0;
      left: auto;
    }

    &:hover::after {
      width: 100%;
      background-color: $c-purple;
      right: auto;
      left: 0;
    }
  }
}

.page-header__menu {
  a {
    &.active {
      color: $c-light;

      &::after {
        background-color: transparent;
        width: 0%;
        transition: 0.14s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
        right: 0;
        left: auto;
      }

      &:hover::after {
        background-color: transparent;
        width: 0%;
      }
    }
  }
}
.slide1{
  div.page-header__menu a {
    &.active {
      color: $c-light;
      &:hover{
        color: $c-light;
      }
    }
  
    &:hover,
    &:after {
      color: $c-dark;
    }
    &:hover::after {
      background-color: $c-dark;
    }
  }
  .slider__control{
    color:$c-dark;
    &:hover{
      color:  $c-purple;
    }
  }
}



.slide2{
  div.page-header__menu a {
    &.active {
      color: $c-light;
      &:hover{
        color: $c-light;
      }
    }
    &:hover,
    &:after {
      color: lightblue;
    }
    &:hover::after {
      background-color: lightblue;
    }
  }
  .slider__control{
    color:lightblue;
    &:hover{
      color:  #406a97;
    }
  }
  
}
.slide3{
  div.page-header__menu a {
    &.active {
      color: $c-light;
      &:hover{
        color: $c-light;
      }
    }
    &:hover,
    &:after {
      color: #406a97;
    }
    &:hover::after {
      background-color: #406a97;
    }
  }
  .slider__control{
    color:#406a97;
    &:hover{
      color:  lightblue;
    }
  }
  
}
.slide4{
  div.page-header__menu a {
    &.active {
      color: $c-light;
      &:hover{
        color: $c-light;
      }
    }
    &:hover,
    &:after {
      color: $c-purple;
    }
    &:hover::after {
      background-color: $c-purple;
    }
  }
  .slider__control{
    color:$c-dark;
    &:hover{
      color:  $c-purple;

    }
  }

}
.social-block__list {
  opacity: 1;

  li {
    opacity: 0;
  }
}

.social-block--active {
  .social-block__list {
    li {
      opacity: 1;

      &:first-of-type {
        transition: opacity 0.05s;
      }

      &:nth-of-type(2) {
        transition: opacity 0.25s;
      }

      &:last-of-type {
        transition: opacity 0.45s;
      }
    }

  }

}

.form {
  justify-content: flex-end;
}

.form__button {
  flex-grow: 0;
}

.screen {

  &.screen--story {
    .slider__item {
      &:nth-child(odd) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(60px);
          transition: 0.2s cubic-bezier(0.11, 0, 0.5, 0) 0.4s;
        }

      }

      &:nth-child(even) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(50px);
          transition: 0.4s cubic-bezier(0.11, 0, 0.5, 0) 0.5s;
        }

      }

      &.swiper-slide-active,
      &.swiper-slide-next {
        .slider__item-text {
          opacity: 1;
          transform: translateX(0px);
        }

      }
    }
  }

  .intro__message {
    opacity: 0;
    transition: 0.4s ease-in 0.5s;
  }

  .form__field {
    width: 0;
    padding: 0;
    transition: 0.35s ease-out;
  }

  &.screen--hidden {

    .intro__message {
      transform: translateY(-20px);
      opacity: 0;
    }

  }

  &.active {
    .intro__message {
      transform: translateY(-20px);
      opacity: 1;
    }

    .form__field {
      width: calc(100% - 21rem);
      padding: 0 5.6rem;
      transition: 0.25s ease-out;
    }
  }
}

.screen__footer {
  transform: translateY(100%);
  transition: transform 0.45s cubic-bezier(.22, .63, .4, 1.01);
}

.page-header__logo {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.1s cubic-bezier(.22, .63, .4, 1.01) 0.3s, transform 0.2s cubic-bezier(.22, .63, .4, 1.01) 0.4s;
}

.page-header__social {
  opacity: 0;
  transition: opacity 0.22s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
}

.social-block__toggler {
  color: $c-purple;
  transform: scale(1.2);
  transition: opacity 0.2s cubic-bezier(.22, .63, .4, 1.01) 0.48s, transform 0.12s cubic-bezier(.22, .63, .4, 1.01) 0.58s;

  &::before {
    background-color: transparent;
    border-color: transparent;
    transition: 0.18s cubic-bezier(.22, .63, .4, 1.01) 0.48s;
  }

}

@media(min-width: 768px) {
  .loaded {

    .page-header__logo,
    .page-header__nav {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.loaded {

  .screen__footer {
    transform: translateY(0);
  }

  .page-header__menu,
  .page-header__social {
    opacity: 1;
  }

  .social-block__toggler {
    color: $c-dark;
    transform: scale(1);

    &::before {
      background-color: $c-light;
      border-color: $c-light;
      transition: 0.3s ease;
    }

    &:hover {
      color: $c-dark;

      &::before {
        border-width: 4px;
        background-color: $c-light;

      }
    }

  }

  .social-block--active {
    .social-block__toggler {
      color: $c-light;

      &::before {
        background-color: $c-purple;
        border-width: 2px;
        border-color: $c-purple;
      }

      &:hover {
        color: $c-purple;

        &::before {
          border-width: 4px;
          background-color: $c-light;
          border-color: $c-light;
        }
      }
    }
  }

  .page-header__menu {
    a {
      &.active {
        color: $c-light;

        &::after {
          background-color: $c-light;
          width: 100%;
          left: 0;
          right: auto;
        }

        &:hover::after {
          background-color: $c-light;
          width: 100%;
        }
      }
    }
  }

}

.story_to_prize {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  height: 0%;
  background-color: $c-dark;
  transition: 0.6s ease;
  z-index: -1;
}

.before-prizes {
  z-index: 1;
  position: relative;

  .story_to_prize {
    height: 100%;
    z-index: 100;
  }
}

@keyframes befores_move {

  from {
    height: 0;
    width: 0;
    color: $c-purple;
    font-size: 0rem;
    line-height: 0rem;

  }


}

.rules__item {
  will-change: transform;
}

.rules__item::before {
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation-name: befores_move;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(.34, 1.84, .82, .93);
  animation-fill-mode: backwards;

}


.rules__item p {
  animation-name: li_move;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;

}

@for $i from 1 through 6 {

  .rules__item:nth-child(#{$i})::before {
    animation-delay: (0.25s * $i);
  }

  .rules__item:nth-child(#{$i}) p {
    animation-delay: (0.35s * $i);
  }

}

.rules__link {
  animation-name: rules__link_move, li_text_change-color;
  animation-duration: 0.3s, 0.1s;
  animation-delay: 1.7s, 2s;
  animation-timing-function: ease, ease;
  animation-fill-mode: backwards, backwards;
}

@keyframes rules__link_move {
  from {
    opacity: 0;
    width: 0;
  }

  1% {
    opacity: 1;

  }

  to {

    width: 150px;
  }

}

@keyframes li_text_change-color {
  from {
    color: transparent;
  }

  to {
    color: $c-purple;
  }
}

@keyframes li_move {
  from {
    transform: translateX(35px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.spaces {
  display: inline-block;
  margin: 0 1rem 0 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;

  &.spaces_visible {
    opacity: 1;
  }
}

.letter {
  display: inline-block;
  transform: translate3d(0, 1em, 0);

  &.animate {
    animation-name: title_show;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  vertical-align: sub;
}

@keyframes title_show {

  to {
    transform: translate3d(0, 0, 0);
  }
}



.result__image img {
  display: block;
  position: absolute;
  object-fit: contain;
  height: auto;
}


.screen--result.screen--show .result__image {
  .flamingo_img {
    width: 220px;
    max-width: 100%;
    right: 48%;
    bottom: 0;
    transform-origin: bottom;
    animation-name: flamingo_show, flamingo_bounce;
    animation-delay: 1.1s, 1.61s;
    opacity: 0;
    animation-duration: 0.5s, 3s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-out, linear;

  }

  .suitcase_img {

    width: 350px;
    max-width: 100%;
    right: 40%;
    bottom: 0;
    animation-name: suitcase_show;
    animation-delay: 1.1s;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: -1;

  }

  .leaf2_img {
    top: 43%;
    left: 27%;
    transform: rotate(45deg);
    transform-origin: right;
    animation-name: leaf2_show;
    animation-delay: 1.67s;
    animation-duration: 3s;
  }

  .leaf_img,
  .leaf1_img {
    right: 29%;
    animation-name: leaf1_show;
    animation-duration: 3s;
    transform-origin: left;
  }

  .leaf2_img,
  .leaf_img,
  .leaf1_img {
    width: 300px;
    height: 300px;
    z-index: -1;
    opacity: 0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.5, -0.3, .6, .9);
  }

  .leaf1_img {
    top: 39%;
    animation-delay: 1.67s;
  }

  .leaf_img {
    top: 49%;
    animation-delay: 1.7s;
  }

}



@keyframes flamingo_show {
  from {
    opacity: 0.1;
    transform: translate3d(0, 0, 0) rotate(-39deg);
  }

  to {
    opacity: 1;
    transform: translate3d(-5px, -105px, 0) rotate(5deg);


  }
}

@keyframes suitcase_show {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(0.1, 0.1, 0.1);

  }

  to {
    opacity: 1;
    transform: translate3d(0, -120px, 0) scale3d(1, 1, 1);

  }
}

@keyframes leaf1_show {

  0% {

    transform: rotate(0deg);

  }

  14% {

    transform: rotate(16deg);

  }

  28% {
    opacity: 1;
    transform: rotate(4deg);

  }

  42% {

    transform: rotate(13deg);

  }

  56% {
    transform: rotate(7deg);
  }

  70% {

    transform: rotate(11deg);

  }

  85% {

    transform: rotate(8deg);

  }

  100% {
    opacity: 1;
    transform: rotate(9deg);

  }

}

@keyframes leaf2_show {

  0% {
    transform: rotate(43deg);

  }

  14% {

    transform: rotate(-45deg);

  }

  28% {
    opacity: 1;
    transform: rotate(20deg);

  }

  42% {

    transform: rotate(-28deg);

  }

  56% {

    transform: rotate(8deg);
  }

  70% {

    transform: rotate(-19deg);

  }

  85% {

    transform: rotate(0deg);

  }

  100% {
    opacity: 1;
    transform: rotate(-8deg);

  }

}

@keyframes flamingo_bounce {
  0% {

    transform: translate3d(-5px, -105px, 0) rotate(5deg);
  }

  30% {
    transform: translate3d(4px, -130px, 0) rotate(-4deg);
  }


  60% {
    transform: translate3d(-2px, -115px, 0) rotate(2deg);
  }

  90% {
    transform: translate3d(1px, -122px, 0) rotate(-1deg);
  }

  100% {
    transform: translate3d(0, -120px, 0) rotate(0deg);
  }

}

.screen--result.screen--show .form__field {
  padding: 0 5.6rem;
  animation-name: prises-screen-result-input;
  animation-duration: 0.53s;
  animation-delay: 3.1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.screen--result.screen--show .form__button {
  animation-duration: 0.35s;
  animation-delay: 2.8s;
  animation-name: prises-screen-result-btn;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;

}

@keyframes prises-screen-result-input {
  from {
    opacity: 0;
    width: 0;
  }

  1% {
    opacity: 1;

  }

  to {
    opacity: 1;
    width: 81%;
  }

}

@keyframes prises-screen-result-btn {
  25% {
    opacity: 0;
    color: transparent;
  }

  50% {
    opacity: 1;
    color: transparent;

  }

  75% {
    opacity: 1;
    color: $c-dark;
  }

  100% {
    opacity: 1;
    color: $c-dark;
  }
}
.slider__control:active::before, .slider__control:active:focus::before {

  background-color: $c-light;
  border-color: $c-light;
  border-color: #fff;
}
.slider__control{
  &::before{
    border: 0px solid #fff;
    transition: 0.1s ease-out;
  }
  &:hover{
    &::before{
      border: 2px solid #fff;
    }

  }

}
.screen--story.active .slider__control.slider__control--prev {
  opacity: 0;
  animation-name: slider-prev-move;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.6s;
  // animation-timing-function:linear;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);


}

.screen--story.active .slider__control.slider__control--next {
  opacity: 0;
  animation-name: slider-next-move;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.6s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

}

@keyframes slider-prev-move {
  from {
    opacity: 1;
    transform: translate3d(-60px, 0, 0) rotate(0deg);
  }

  to {
    opacity: initial;
    transform: translate3d(0px, 0, 0) rotate(360deg);
  }

}

@keyframes slider-next-move {
  from {
    opacity: initial;
    transform: translate3d(60px, 0, 0) rotate(0deg);
  }

  to {
    opacity: initial;
    transform: translate3d(0px, 0, 0) rotate(-360deg);
  }

}

.game__buttons {
  display: block !important;
}

.result--negative .result__button span {
  opacity: 0;
  animation-name: slider-next-move;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-delay: 1.6s;
  animation-timing-function: ease-out;

}

.result--negative .result__button {
  opacity: 0;
  animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-delay: 1.4s;
  animation-timing-function: ease-out;

}

@keyframes appear {
  to {
    opacity: 1;
  }

}



.disclaimer ul,
.screen__footer-note {
  opacity: 1;
  transition: 0.1s ease;

}

.screen--prizes,
.screen--rules {

  .screen__footer,
  .screen__disclaimer {
    transition: transform 0.1s cubic-bezier(.22, .63, .4, 1.01);
  }

  &.before-active {

    .screen__footer,
    .screen__disclaimer {
      transform: translateY(100%);
      transition: transform 0.1s cubic-bezier(.22, .63, .4, 1.01);
    }

    &.active .screen__footer,
    &.active .screen__disclaimer {
      transform: translateY(0);
      transition: transform 0.1s cubic-bezier(.22, .63, .4, 1.01);
    }
  }

  // &.screen--hidden .screen__disclaimer .disclaimer,
  // &.screen--hidden .screen__footer .screen__footer-note{
  //   opacity: 0;
  // }

  &.before-game {

    .screen__footer,
    .screen__disclaimer {
      transform: translateY(100%);
    }
  }

  &.before-transparent {

    .disclaimer ul,
    .screen__footer-note {
      opacity: 0;
    }

    &.active {

      .disclaimer ul,
      .screen__footer-note {
        opacity: 1;
      }
    }
  }

  &.to-rules-and-back {

    .disclaimer ul,
    .screen__footer-note {
      opacity: 0;
    }

    .screen__footer,
    .screen__disclaimer {
      transform: translateY(0);

    }

  }

}
@media( max-width: 768px ){
.js-footer-toggler {
  transition: 0.3s ease;
}

.screen__footer.js-footer {

  transition: 0.4s;

  .screen__footer-note,
  .screen__footer-announce {
    opacity: 0;
    transition: 0.3s linear 0.4s;
  }

  &.screen__footer--full {

    .screen__footer-note,
    .screen__footer-announce {
      opacity: 1;
    }

  }
}

}