.page-header__menu a {

  &::after {

    display: block;
    width: 0%;
    transition: width 0.3s ease;
    background-color: $c-light;
    right: 0;
    left: auto;

  }

  &:hover::after {
    width: 100%;
    background-color: $c-purple;
    right: auto;
    left: 0;
  }

  &.active {
    color: $c-light;

    &::after {
      background-color: $c-light;
      width: 100%;
    }

    &:hover::after {
      background-color: $c-light;
      width: 100%;
    }
  }

}

.social-block__toggler {
  &::before {
    transition: 0.3s ease;
  }

  &:hover {
    color: $c-dark;

    &::before {
      border-width: 4px;
      background-color: $c-light;

    }
  }

}

.social-block--active {
  .social-block__toggler {
    color: $c-light;

    &::before {
      background-color: $c-purple;
      border-width: 2px;
      border-color: $c-purple;
    }

    &:hover {
      color: $c-purple;

      &::before {
        border-width: 4px;
        background-color: $c-light;
        border-color: $c-light;
      }
    }

  }

}

.social-block__list {
  opacity: 1;

  li {
    opacity: 0;
  }
}

.social-block--active {
  .social-block__list {
    li {
      opacity: 1;

      &:first-of-type {
        transition: opacity 0.05s;
      }

      &:nth-of-type(2) {
        transition: opacity 0.25s;
      }

      &:last-of-type {
        transition: opacity 0.45s;
      }
    }

  }

}

.form {
  justify-content: flex-end;
}

.form__button {
  flex-grow: 0;
}

.screen {

  &.screen--story {
    .slider__item {
      &:nth-child(odd) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(60px);
          transition: 0.2s cubic-bezier(0.11, 0, 0.5, 0) 0.4s;
        }

      }

      &:nth-child(even) {
        .slider__item-text {
          opacity: 0;
          transform: translateX(50px);
          transition: 0.4s cubic-bezier(0.11, 0, 0.5, 0) 0.5s;
        }

      }

      &.swiper-slide-active,
      &.swiper-slide-next {
        .slider__item-text {
          opacity: 1;
          transform: translateX(0px);
        }

      }
    }

  }

  .intro__message {

    opacity: 0;
    transition: 0.4s ease-in 0.5s;

  }

  .form__field {
    width: 0;
    padding: 0;
    transition: 0.35s ease-out;
  }

  &.screen--hidden {

    .intro__message {
      transform: translateY(-20px);
      opacity: 0;

    }

  }

  &.active {
    .intro__message {
      transform: translateY(-20px);
      opacity: 1;

    }

    .form__field {
      width: calc(100% - 21rem);
      padding: 0 5.6rem;
      transition: 0.25s ease-out;
    }

  }
}
